{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello</h1>
    </div>
    {% if app.user %}
        Logged: {{ app.user.email }}
        <a href="{{ path('app_logout') }}">Logout</a>
        <hr>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
    <hr>
    STEAM:
    {% include 'steam/login_steam.html.twig' %}

    <hr>
    spotify:
    {#        {% include 'spotify/login_spotify.html.twig' %} #}


{% endblock %}
