body {
    background-color: lightgray;
}
/* set full size background img*/
html {
  background: url(../images/doge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
